.gitsecret/keys/random_seed
!*.secret
public-key.gpg

# List of files that existed unencrypted, prior to encrypting using git-secret
app/server/keys.json
app/server/firebase.json
app/client/android/app/google-services.json